<div class="page-show one-col-horizontal">
	<% if current_user && current_user.has_role("Administrator") %>
		<p class="bg-warning"><strong>Warning:</strong> You are currently logged in as <%= "#{current_user.first_name} #{current_user.last_name}" %>.  <%= link_to "[Edit Page]", :controller => "/cms/pages", :action => "edit", :id => @page.id %> </p>
		<hr />
	<% end %>

	<% @page.page_sections.each do |section| %>
		<div class="row">
			<div class="col-sm-3"><%= image_tag section.photo.url, class: "img-responsive" %></div>
			<div class="col-sm-9"><%= raw section.body %></div>
		</div>
	<% end %>
</div>