<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @cms_role.title %></h3>
  </div>
  <div class="panel-body">
  
  </div>
  <div class="panel-footer">
	  <button type="button" class="btn btn-secondary btn-lg"><%= link_to 'Edit', edit_cms_role_path(@cms_role) %></button>
		<button type="button" class="btn btn-secondary btn-lg"><%= link_to 'Back', cms_roles_path %></button>
  </div>
</div>


