<li><%= link_to "Dashboard", "/auth/site_manager/index" %></li>
<li><%= link_to "Edit Profile", "/users/edit" %></li>
<li role="separator" class="divider"></li>
<li><%= link_to "Pages", "/cms/pages" %></li>
